{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static  'main.css' %}">
</head>
<body>


<main role="main" class="container" >
<div class="row">
            <div class="col-md-8">
         <div class="content-section">
             <form method="POST" action="">
                 {% csrf_token %}
                 <fieldset class="form-group" >
                     <legend class="border-bottom mb-4 " >Log In</legend>
                     {{form|crispy}}
                 </fieldset>
                 <div class="form-group" >
                     <button class="btn btn-outline-info" type="submit" >Login</button>
                     <small class="text-muted ml-2 " >
                         <a href="{% url 'password-reset' %}">Fortgot Your Password</a>
                     </small>
                 </div>
             </form>
             <div class="border-top pt-3 " >
                 <small class="text-muted" >
                     Do you need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                 </small>
             </div>
        </div>
     </div>
    </div>
</main>

</body>
</html>