{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css" />

    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/icon.png' %}" />

    <!-- inject:css -->
    <link rel="stylesheet" href= "{% static 'assets/css/style.css' %}">

</head>
<body>




</h1><div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        BUSINESS
                      </h1>
                        <h1 class ="mb-3" >Posts By {{view.kwargs.username}} ({{ page_obj.paginator.count }})
                      {% for post in business_post %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="col-sm-4 grid-margin">
                          <div class="rotate-img">
                            <img
                              src="{{post.img.url}}"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <br>
                           <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Post By </span><a href="{% url 'business-user-posts' post.author.username %}">{{post.author}}</a><br>
                            <span class="mr-2"> Posted </span> <span class="mr-2"> {{post.date_posted}}</span>
                          </p>
                        </div>
                        <div class="col-sm-8 grid-margin">
                          <a href="{% url 'business-post-detail' post.id %}">
                          <h2 class="font-weight-600 mb-2">
                             {{post.title}}
                          </h2>
                            </a>
                          <p class="fs-15">
                             {{post.content|truncatewords:50}}
                          </p>
                          <a href="{% url 'business-post-detail' post.id %}"><span class="text-muted">More</span></a>
                        </div>
                      </div>
                      {% endfor %}
                         <a style="mt-5"  href="{% url 'business' %}"><button type="button" class="btn btn-primary">Back</button></a>
                         {% if is_paginated %}

                        {% if page_obj.has_previous %}
                           <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                          {% for num in page_obj.paginator.page_range %}
                              {% if page_obj.number == num %}
                                 <a class="btn btn-info mb-4" href="?page={{num}}">{{ num }}</a>
                              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                                 <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
                              {% endif %}
                          {% endfor %}

                      {% if page_obj.has_next %}
                           <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
                          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}


                      {% endif %}
                    </div>


</body>
</html>